.ana-kitap {
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.anaicerik {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 70px;
    padding: 0;
    height: auto;
    min-width: 100%;
    /* header yüksekliği kadar boşluk bırak */
}

.alt-bilgi {
    width: 100%;
    margin-top: auto;
    display: flex;
    background: #1a1a2e;
    color: white;
    padding: 3rem 1rem;


}