* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  /* taşmayı engeller */
  max-width: 100%;
  /* genişlik ekranı geçmesin */
  overflow-y: scroll;
}

.anaicerik {
  padding: calc(100vh - 60px) 0 0 0;
  margin: 0;
  /* header yüksekliği kadar boşluk bırak */
}